<ng-container *ngIf="errorMessage">
    <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
        {{errorMessage}}
    </div>
</ng-container>

<ng-container *ngIf="!errorMessage">
    <div class="header container d-flex justify-content-center align-items-center mt-5 w-100 p-2">
        <div class="icon">
            <mat-icon class="mx-4">account_circle</mat-icon>
        </div>
        <h1 class="mx-4">{{username}}</h1>
        <div class="d-flex justify-content-end w-75">
            <ng-container *ngIf="isYourAccount">
                <button class="mx-4 w-25" mat-raised-button color="primary">Edytuj</button>
                <button class="mx-4 w-25" mat-raised-button color="warn">Usuń</button>
            </ng-container>
            <ng-container *ngIf="!isYourAccount">
                <button class="mx-4 w-25" mat-raised-button color="primary" (click)="addToFriend()">Dodaj do znajomych</button>
            </ng-container>
        </div>
    </div>

    <ng-container *ngIf="isYourAccount">
        <app-index-cards-list [onlyPublic]="false" [indexCards]="indexCards" [onlyFavorites]="false"></app-index-cards-list>
    </ng-container>

    <ng-container *ngIf="!isYourAccount">
        <app-index-cards-list [onlyPublic]="true" [indexCards]="indexCards" [onlyFavorites]="false"></app-index-cards-list>
    </ng-container>
</ng-container>

