<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="''">Fiszki</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ng-container *ngIf="user$ | async as user">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white d-flex justify-content-center align-items-center" [routerLink]="'/stworz-fiszke'">
                            <mat-icon class="mx-1">add</mat-icon>Stwórz fiszkę</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white d-flex justify-content-center align-items-center" [routerLink]="'/konto/' + user.username">
                            <mat-icon class="mx-1">person</mat-icon>Moje konto</a>
                    </li>
                    <li class="nav-item">
                        <app-friend-notifications [username]="user.username"></app-friend-notifications>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white d-flex justify-content-center align-items-center" [routerLink]="'/ulubione/' + user.username">
                            <mat-icon class="mx-1">favorite</mat-icon>Ulubione</a>
                    </li>
                </ul>
            </ng-container>

            <ng-container *ngIf="user$ | async; else notUser">
                <button class="nav-link text-white button d-flex justify-content-center align-items-center" (click)="logout()">
                    <mat-icon class="mx-1">logout</mat-icon>Wyloguj się</button>
            </ng-container>
            <ng-template #notUser>
                <a class="nav-link text-white d-flex justify-content-center align-items-center" [routerLink]="'/logowanie'">
                    <mat-icon class="mx-1">login</mat-icon>Zaloguj się</a>
            </ng-template>
        </div>
    </div>
</nav>
