.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .nav-item {
    margin: 0 10px;
}

.button {
    border: none;
    background: #1f2327;
    color: white;
}
