.card-container {
    perspective: 800px;
    width: 400px;
    height: 400px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
    background-color: #3a3a3a;
    color: white;
    transform: rotateX(0deg);
    cursor: pointer;
}

.card.flipped {
    transform: rotateX(180deg)
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    transform: rotateX(180deg);
}

.front {
    transform: rotateX(0deg);
}

.button {
    border: none;
    background: black;
    color: white;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    width: 20%;
    border-radius: 2rem;
    padding: 5px;
    margin-top: 40px;
    font-size: 1rem;
    transition: opacity 0.2s linear;
}

.button:hover {
    opacity: 0.7;
}

