<form [formGroup]="indexCardsForm" (ngSubmit)="onSubmit()">
    <div class="form-input text-center">
        <mat-form-field class="w-75" appearance="fill">
            <mat-label>Nazwa</mat-label>
            <input matInput [formControl]="controls.name" >
        </mat-form-field>
    </div>

    <div class="text-center mb-4">
        <mat-radio-group aria-label="Rodzaj" [formControl]="controls.type">
            <mat-radio-button value="public">Publiczna</mat-radio-button>
            <mat-radio-button value="private">Prywatna</mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="questions d-flex justify-content-center text-center w-100">
        <div class="d-flex flex-wrap flex-column align-items-center w-100">
            <ng-container [formArrayName]="'words'">
                <div class="form-input w-75 text-center" *ngFor="let word of words.controls; index as i">
                    <mat-form-field appearance="fill">
                        <mat-label>Słowo</mat-label>
                        <input matInput formControlName="{{i}}">
                    </mat-form-field>
                </div>
            </ng-container>
        </div>

        <div class="d-flex flex-wrap flex-column align-items-center w-100">
            <ng-container [formArrayName]="'translations'">
                <div class="form-input w-75 text-center" *ngFor="let translation of translations.controls; index as i">
                    <mat-form-field appearance="fill">
                        <mat-label>Tłumaczenie</mat-label>
                        <input matInput formControlName="{{i}}" >
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
    </div>


    <div class="d-flex justify-content-center w-100 text-center mt-5">
        <div class="w-50">
            <button class="w-75" (click)="onAdd()" type="button" mat-raised-button color="primary">Dodaj</button>
        </div>

        <div class="w-50">
            <button class="w-75" (click)="onRemove()" type="button" mat-raised-button color="warn">Usuń</button>
        </div>
    </div>


    <div class="d-flex justify-content-center w-100 text-center mt-5 p-5">
        <button class="w-75" type="submit" mat-raised-button color="primary">Utwórz</button>
    </div>

</form>


